$font-family: "Formular", sans-serif;
$content-width: 1536px;
$container-offset: 15px;
$container-width: calc(#{$content-width} + (#{$container-offset} * 2));

$main-color: #111827;
$light-color: #f9fafb;

$purple-color: #a78bfa;
$purple-dark-color: #8b5cf6;
$active-color: #6d28d9;

$gray-color: #e5e7eb;
$gray-light-color: #9ca3af;
$black-color: #000;
$disabled-color: #ddd6fe;

.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 28px;
  color: $light-color;
  background-color: $purple-dark-color;
  border: 2px solid $purple-dark-color;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:focus { outline: none; }

  &:hover {
    border-color: $purple-color;
    background-color: $purple-color;
  }

  &:active {
    border-color: $active-color;
    background-color: $active-color;
  }

  &:disabled {
    border-color: $disabled-color;
    background-color: $disabled-color;
  }

  &.focus-visible {
    border-color: $active-color;
    background-color: $purple-color;
  }
}

.page-404 {
  min-height: 100vh;
  background-color: $light-color;
  font-family: $font-family;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-404__container {
  width: 100%;
  max-width: $container-width;
  padding: 0 $container-offset;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.page-404__image {
  width: 100%;
  max-width: 520px;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: $font-family;
  text-size-adjust: 100%;
  color: $main-color;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
    font-size: 16px;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}