.contact {
  &__container {
    padding: 72px $container-offset;

    @media (max-width: 1024px) {
      padding: 0 $container-offset 64px;
    }
  }

  &__content {
    flex-direction: column;
    align-items: center;
    padding: 64px 0;
    border-radius: 16px;
    background: $light-color;
  }

  &__title {
    grid-column: 5/4 span;
    text-align: center;

    @media (max-width: 1536px) {
      grid-column: 4/4 span;
    }

    @media (max-width: 1024px) {
      grid-column: 3/4 span;
    }

    @media (max-width: 758px) {
      grid-column: 2/6 span;
    }

    @media (max-width: 590px) {
      grid-column: 2/4 span;
    }
  }
}

.contact-form {
  grid-column: 5/4 span;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1536px) {
    grid-column: 4/4 span;
  }

  @media (max-width: 590px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 1024px) {
    grid-column: 3/4 span;
  }

  @media (max-width: 758px) {
    grid-column: 2/6 span;
  }

  @media (max-width: 590px) {
    grid-column: 6 span;
    padding: 0 30px;
  }

  &__label {
    grid-column: 3 span;
    border: 2px solid $main-color;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;

    @media (max-width: 590px) {
      grid-column: 2 span;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $purple-dark-color;
    }
  }

  &__label-message,
  &__btn {
    grid-column: 6 span;

    @media (max-width: 590px) {
      grid-column: 2 span;
    }
  }

  &__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px;
    color: $main-color;
    border: none;
    transition: color 0.3s ease-in-out;

    &::placeholder {
      color: $gray-light-color;
      transition: color 0.3s ease-in-out;
    }

    &:hover::placeholder {
      color: $purple-dark-color;
    }

    &.focus-visible::placeholder {
      color: $main-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__label-message {
    height: 150px;
  }
}

.hero-form__label .js-validate-error-label,
.contact-form__label .js-validate-error-label {
  position: absolute;
  color: $main-color;
  margin-top: 3px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: $purple-dark-color;
  }
}