.reviews {
  &__container {
    position: relative;
    padding-bottom: 72px;

    @media (max-width: 1024px) {
      padding-bottom: 48px;
    }

    @media (max-width: 590px) {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  &__title {
    grid-column: 12 span;
    text-align: center;
    margin-bottom: 8px;

    @media (max-width: 1536px) {
      grid-column: 10 span;
    }

    @media (max-width: 1024px) {
      grid-column: 8 span;
    }

    @media (max-width: 590px) {
      grid-column: 6 span;
    }
  }

&__slider-container {
    grid-column: 2/10 span;
    position: static;

    @media (max-width: 1536px) {
      grid-column: 2/8 span;
    }

    @media (max-width: 1024px) {
      grid-column: 2/6 span;
    }

    @media (max-width: 758px) {
      margin: 0 12px;
    }

    @media (max-width: 590px) {
      grid-column: 6 span;
    }
  }


  &__content {
    padding: 32px 43px;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1536px) {
      padding: 16px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: $main-color;

    @media (max-width: 1536px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__pagination {
    display: none;

    @media (max-width: 590px) {
      display: block;
    }
  }

  &__slide {
    border-radius: 16px;
    background: $light-color;
  }

  &__swiper {
    height: 100%;
    position: static;
  }

  &__author {
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
    color: $active-color;

    @media (max-width: 1536px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__btn-next,
  &__btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    z-index: 100;

    @media (max-width: 1536px) {
      top: 45%;
    }

    @media (max-width: 590px) {
      display: none;
    }

    &:focus {
      outline: none;
    }

    .reviews__svg-next path,
    .reviews__svg-prev path {
      transition: fill 0.3s ease-in-out;
    }

    &:hover .reviews__svg-next path,
    &:hover .reviews__svg-prev path {
      fill: $purple-color;
    }

    &:active .reviews__svg-next path,
    &:active .reviews__svg-prev path {
      fill: $active-color;
    }

    &.focus-visible .reviews__svg-next path,
    &.focus-visible .reviews__svg-prev path {
      fill: $active-color;
    }

    &::after {
      display: none;
    }
  }

  &__btn-prev {
    left: 0;   
    right: auto;
  }

  &__btn-next {
    right: 0; 
    left: auto;
  }
}
