.main {
  background-color: $gray-color;
}

.container {
  margin: 0 auto;
  padding: 36px $container-offset;
  max-width: $container-width;

  @media (max-width: 1536px) {
    max-width: 1024px;
  }

  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 24px $container-offset;
  }

  @media (max-width: 758px) {
    max-width: 640px;
    padding: 24px $container-offset;
  }

  @media (max-width: 590px) {
    max-width: 590px;
    padding: 24px $container-offset;
  }
}