.nav {
  flex-direction: column;
  align-items: center;

  @media (max-width: 758px) {
    padding: 0 15px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $light-color;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    transform: translateY(-200%);
    transition: transform 0.3s ease-in-out;
  }

  &__content {
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      padding: 12px 0;
      margin-bottom: 12px;
      border-top: 2px solid $purple-color;
      border-bottom: 2px solid $purple-color;
    }

    @media (max-width: 758px) {
      max-width: 640px;
      padding: 12px 15px;
    }

    @media (max-width: 590px) {
      flex-direction: column;
    }
  }

  &__list {
    flex-wrap: wrap;

    @media (max-width: 590px) {
      margin-bottom: 12px;
      justify-content: center;
    }
  }

  &__item {
    margin-right: 24px;
    flex-wrap: wrap;

    @media (max-width: 590px) {
      margin-bottom: 12px;
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    border-bottom: 2px dashed transparent;
    color: $main-color;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: transparent;
      color: $purple-dark-color;
    }

    &:active {
      border-color: $purple-dark-color;
      color: $purple-dark-color;
    }

    &.focus-visible {
      border-color: $purple-dark-color;
      color: $purple-dark-color;
    }
  }

  &__cost {
    display: none;

    @media (max-width: 1024px) {
      display: flex;
    }

    @media (max-width: 758px) {
      max-width: 640px;
      padding: 12px 15px 24px;
    }

    @media (max-width: 590px) {
      flex-direction: column;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      text-align: center;

      @media (max-width: 1024px) {
        line-height: 20px;
      }

      &:not(:last-child) {
        @media (max-width: 1024px) {
          width: 31%;
          margin-bottom: 12px;
        }

        @media (max-width: 590px) {
          width: 100%;
        }
      }

      &:last-child {
        @media (max-width: 1024px) {
          width: 38%;
        }

        @media (max-width: 590px) {
          width: 100%;
        }
      }
    }
  }

  &__btn {
    min-width: 200px;
  }

  &.menu--active {
    visibility: visible;
    transform: none;
  }
}