.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 10px 28px;
  color: $light-color;
  background-color: $purple-dark-color;
  border: 2px solid $purple-dark-color;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-align: center;

  &:focus {
    outline: none;
  }

  &:hover {
    border-color: $purple-color;
    background-color: $purple-color;
  }

  &:active {
    border-color: $active-color;
    background-color: $active-color;
  }

  &:disabled {
    border-color: $disabled-color;
    background-color: $disabled-color;
  }

  &.focus-visible {
    border-color: $active-color;
    background-color: $purple-color;
  }
}
