.grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(12, 1fr);

  @media (max-width: 1536px) {
    grid-template-columns: repeat(10, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(8, 1fr);
  }

  @media (max-width: 590px) {
    grid-template-columns: repeat(6, 1fr);
  }
}