a {
  text-decoration: none;
  color: inherit;
  transition: all 0.25s ease;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 2px dashed transparent;
  color: #111827;
  transition: all 0.25s ease;

  &:focus {
    outline: none;
  }
  
  &:hover {
    color: #a78bfA;
    border-bottom: 3px dashed #a78bfA;
  }
  
  &:active {
    color: #7C3AED;
    border-bottom-color: #7C3AED;
  }
}

.footer-nav__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 2px dashed transparent;
  color: #f9fafb;
  transition: all 0.25s ease;

  &:focus {
    outline: none;
  }
  
  &:hover {
    color: #a78bfA;
    border-bottom: 3px dashed #a78bfA;
  }
  
  &:active {
    color: #7C3AED;
    border-bottom-color: #7C3AED;
  }
}