.reviews {
  &__container {
    position: relative;
    padding-bottom: 72px;
    
    @media (max-width: 1024px) {
      padding-bottom: 48px;
    }
    
    @media (max-width: 590px) {
      padding-bottom: 24px;
      margin-bottom: 24px;
    }
  }

  &__slider-container {
    grid-column: 2/10 span;
    position: relative;
    
    @media (max-width: 1536px) {
      grid-column: 2/8 span;
    }
    
    @media (max-width: 1024px) {
      grid-column: 2/6 span;
    }
    
    @media (max-width: 590px) {
      grid-column: 6 span;
      margin: 0 12px;
    }
  }

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__swiper-wrapper {
    display: flex;
  }

  &__slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    border-radius: 16px;
    background: #f9fafb;
    
    @media (max-width: 589px) {
      display: block;
    }
  }

  &__content {
    padding: 32px 43px;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    
    @media (max-width: 1536px) {
      padding: 16px;
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin: 0;
    color: #111827;
    
    @media (max-width: 1536px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__author {
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__name {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin: 0;
    color: #6d28d9;
    
    @media (max-width: 1536px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__pagination {
    display: none !important;
  }

  &__btn-next,
  &__btn-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: translateY(-50%) scale(1.1);
    }

    &:active {
      transform: translateY(-50%) scale(0.95);
    }
    
    @media (max-width: 590px) {
      width: 40px;
      height: 40px;
    }
  }

  &__btn-prev {
    left: -80px;
    
    @media (max-width: 1536px) {
      left: -60px;
    }
    
    @media (max-width: 1024px) {
      left: -40px;
    }
    
    @media (max-width: 590px) {
      left: -20px;
    }
  }

  &__btn-next {
    right: -80px;
    
    @media (max-width: 1536px) {
      right: -60px;
    }
    
    @media (max-width: 1024px) {
      right: -40px;
    }
    
    @media (max-width: 590px) {
      right: -20px;
    }
  }

  &__icon {
    width: 75px;
    height: 75px;
    object-fit: contain;
    
    @media (max-width: 1536px) {
      width: 60px;
      height: 60px;
    }
    
    @media (max-width: 590px) {
      width: 50px;
      height: 50px;
    }
  }
}

.swiper-pagination {
  display: none !important;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-slide {
  height: auto;
}

.reviews__swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto;
  height: auto;
}
