@font-face {
  font-family: "Formular";
  src: url("../fonts/FormularLight.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/FormularRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/FormularMedium.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Formular";
  src: url("../fonts/FormularBold.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}