$font-family: "Formular", sans-serif;
$content-width: 1536px;
$container-offset: 15px;
$container-width: calc(#{$content-width} + (#{$container-offset} * 2));
$main-color: #111827;
$light-color: #f9fafb;
$purple-color: #a78bfA;
$purple-dark-color: #8b5cf6;
$gray-color: #e5e7eb;
$gray-light-color: #9ca3af;
$black-color: #000;
$active-color: #6d28d9;
$disabled-color: #ddd6fe;